{% extends "layout.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container pt-2">
    <div class="row justify-content-center pt-3">
        <div class="col-auto border rounded-pill px-5 py-1 titleClass">
            <p class="h4 fw-light mb-0">Homepage</p>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                New content
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-end row-col-2">
                <div class="col-8 me-auto">
                    <div class="card">
                        <div class="card-header bg-dark-subtle">
                            This is the header
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>This is the best Meal Planner I could ever ask for!</p>
                                <footer class="blockquote-footer">Mom Bear of the <cite class="text-muted"
                                        title="Personal Trainer Extraordinaires">Personal Trainer
                                        Extraordinaires</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <button class="button border rounded-pill px-5 py-2 text-white bg-success bg-gradient"
                        value="Get a meal plan!">Get
                        a meal plan!</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}