{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Meal Planner{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    {% block script %}{% endblock %}
</head>

<body style="height: 100vh;">
    <div class="vh-100 bg-body-secondary">
        <nav class="navbar navbar-expand-lg bg-danger bg-gradient text-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <p class="mb-0 fw-light fst-italic text-white brandText">Meal Planner</p>
                </a>
                <div class="navbar-nav justify-content-center">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'index' %}">Home</a>
                    <a class="nav-link text-white" href="#">Calendar</a>
                    <a class="nav-link text-white" href="{% url 'recipes' %}">Recipes</a>
                </div>
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <button type="button" class="btn btn-danger border border-0 bg-transparent ms-auto"
                        data-bs-toggle="modal" data-bs-target="#profileModal">
                        {{ user.username }}
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-danger border border-0 bg-transparent ms-auto"
                        data-bs-toggle="modal" data-bs-target="#loginModal">
                        Login/Register
                    </button>
                    {% endif %}

                </div>
            </div>
        </nav>
        <div>
            {% block body %}
            {% endblock %}
        </div>
        {% if user.is_authenticated %}
        {# modal for logged in user, probably a large card of sorts? #}
        <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="Profile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-between text-white bg-danger bg-gradient">
                        <h1 class="modal-title fs-5 col-auto me-2 ps-2" id="loginModalLabel">Profile</h1>
                        <button type="button" class="col-auto ms-0 btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-body-secondary py-5">
                        <div class="container-fluid w-75">
                            {# TODO: probably put an overflow profile picture going into header #}
                            {# (like halfway through circle) #}
                            {# then put some basic information? #}
                            <div class="row justify-content-between my-3">
                                <div class="col-auto">
                                    Username:
                                </div>
                                <div class="col-auto">
                                    <p class="fw-light">{{ user }}</p>
                                </div>
                            </div>
                            <div class="row justify-content-between my-3">
                                <div class="col-auto">
                                    Email:
                                </div>
                                <div class="col-auto">
                                    <p class="fw-light">{{ user.email }}</p>
                                </div>
                            </div>
                            <div class="row justify-content-between my-3">
                                <div class="col-auto">
                                    Date Joined:
                                </div>
                                <div class="col-auto">
                                    <p class="fw-light">{{ user.date_joined }}</p>
                                    {# TODO: Add number of meals "this week" here from planner model #}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                </div>
                            </div>
                            <div class="row justify-content-end mt-2">
                                <div class="col-auto">
                                    <a href="{% url 'logout' %}"
                                        class="nav-link bg-danger bg-gradient text-white border rounded-pill mt-4 py-1 px-5">Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        {# Sign-in modal #}
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-end text-white bg-danger bg-gradient">
                        <h1 class="modal-title fw-light fs-5 col-6 me-2 ps-2" id="loginModalLabel">Login</h1>
                        <button type="button" class="col-auto ms-0 btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-body-light">
                        <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in user_login_form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                <div class="row justify-content-start">
                                    <div class="col-auto">
                                        <label
                                            class="border border-bottom-0 rounded-top px-2 shadow-sm bg-body-secondary bg-gradient">
                                            {{ field.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {{ field }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row justify-content-center mt-3">
                                <div class="col-auto">
                                    <button type="submit"
                                        class="btn btn-primary rounded-pill px-5 bg-gradient">Login</button>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                        data-bs-target="#registerModal">Don't have an
                                        account?</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {# End Sign-in modal #}

        {# Registration modal #}
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="Register" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-end text-white bg-danger bg-gradient">
                        <h1 class="modal-title fw-light fs-5 col-6 me-3 ps-1" id="registerModalLabel">Register</h1>
                        <button type="button" class="col-auto ms-0 btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-body-light">
                        <form class="mb-3" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in user_registration_form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                <div class="row justify-content-start">
                                    <div class="col-auto">
                                        <label
                                            class="border border-bottom-0 rounded-top px-2 shadow-sm bg-body-secondary bg-gradient">
                                            {{ field.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {{ field }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row justify-content-start">
                                <div class="col-auto">
                                    <label
                                        class="border border-bottom-0 rounded-top px-2 shadow-sm bg-body-secondary bg-gradient">
                                        Password Confirmation
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="password" name="password_confirmation"
                                        class="form-control mb-4 shadow-sm forminputBox" maxlength="128">
                                </div>
                            </div>
                            <div class="row justify-content-center mt-3">
                                <div class="col-auto">
                                    <button type="submit"
                                        class="btn btn-primary rounded-pill px-5 bg-gradient">Register</button>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                        data-bs-target="#loginModal">Already have an account?</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {# End Registration modal #}
        {% endif %}

    </div>
</body>

</html>