{% extends "layout.html" %}
{% load static %}

{% block title %}Recipes{% endblock %}

{% block body %}

{# Filter group #}
<div class="row justify-content-center w-100 my-3">
    <div class="col-auto">
        <div class="button-group filter-button-group">
            <button data-filter="">No Preference</button>
            <button data-filter=".vegetarian">Vegetarian</button>
            <button data-filter=".vegan">Vegan</button>
            <button data-filter=".pescetarian">Pescetarian</button>
            <button data-filter=".dairy-free">Dairy-Free</button>
            <button data-filter=".gluten-free">Gluten-Free</button>
        </div>
    </div>
</div>

{# Isotope grid layout #}
<div class="grid">
    {% for recipe in recipes %}
    <div class="grid-item">
        <div class="grid-item-content">
            <p>{{ recipe.recipe_name }}</p>
            <div class="row content-row" style="display: none;">
                <div class="col-auto">
                    {{ recipe.recipe_instructions }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}

<!-- <div class="container-fluid pt-2">
    {% for recipe in recipes %}
    <div class="row">
        <div class="col-auto pt-2">
            {{ recipe.id }}.
        </div>
        <div class="dropdown col-11">
            <div class="col-auto pt-2">
                <button class="btn btn-outline-danger bg-gradient dropdown-toggle" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" aria-expanded="false">{{ recipe.recipe_name }}</button>
                <ul class="dropdown-menu p-4">
                    <div class="col-12">
                        <p class="fs-5 fst-italic">Cooking Steps:</p>
                        <p class="fw-light ps-2">{{ recipe.formatted_instructions|safe }}</p>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="col-auto">
                        {{ recipe.formatted_nutrition|safe }}
                    </div>
                    {% if recipe.dietary_preference != "None" %}
                    <div class="col-auto">
                        {{ recipe.dietary_preference }}
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->