{% extends "layout.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Recipes{% endblock %}

{% block body %}

{# Planner section #}

{% if planner %}
<div class="planner container-fluid align-content-center my-3" style="display: grid;">
    <div class="row justify-content-center">
        {% if planner.chosen_list == None %}
        <div class="col-auto">
            <h3 class="fw-light fst-italic">Add a recipe to the planner!</h3>
        </div>
        {% else %}
        {% for choice in planner.chosen_list.all %}
        <div class="col-2 plannerBoxes border mx-2">
            <span>{{choice}}</span>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{# TODO: Going to put a placeholder here soon for an "else" #}
{% else %}
<div class="stockPlanner container-fluid align-content-center my-3" style="display: grid;">
    <div class="row justify-content-center">
        {% for recipe in recipe_choices %}
        <div class="col-2 stockPlannerBoxes border mx-2">
            <a href="{% url 'index' %}">
                <span>{{recipe}}</span>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{# Filter group #}
<div class="row justify-content-center w-100 my-3">
    <div class="col-auto">
        <div class="button-group filter-button-group">
            <button data-filter="">No Preference</button>
            <button data-filter=".vegetarian">Vegetarian</button>
            <button data-filter=".vegan">Vegan</button>
            <button data-filter=".pescetarian">Pescetarian</button>
            <button data-filter=".dairy-free">Dairy-Free</button>
            <button data-filter=".gluten-free">Gluten-Free</button>
        </div>
    </div>
</div>

{# Isotope grid layout #}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="grid">
            {% for recipe in recipes %}
            <button type="button" class="grid-item mb-2" data-bs-toggle="modal"
                data-bs-target="#gridItemModal{{ recipe.id }}">

                <div class="row justify-content-center">
                    <div class="col-auto align-items-center gridItemText">
                        {{ recipe.name }}
                    </div>
                </div>

            </button>

            <div class="modal fade" id="gridItemModal{{ recipe.id }}" data-bs-backdrop="static" data-bs-keyword="false"
                tabindex="-1" aria-labelledby="gridItemLabel{{ recipe.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            {% if request.user.is_authenticated %}
                            <div class="col-auto me-2 mb-1 favStarBox">
                                <div id="csrf" data-csrf="{{ csrf_token }}"></div>
                                {% if recipe.name in favorite_dishes %}
                                <i class="favStar bi-star-fill" data-id="{{ recipe.id }}"></i>
                                {% else %}
                                <i class="favStar bi-star" data-id="{{ recipe.id }}"></i>
                                {% endif %}
                            </div>
                            {% endif %}
                            <div class="col-auto">
                                <h1 class="modal-title fs-5 pb-1" id="gridItemLabel{{ recipe.id }}">
                                    {{ recipe.name }}
                                </h1>
                            </div>
                            <div class="col-auto ms-auto">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="modal-body">
                            {{ recipe.formatted_instructions|safe }}

                            <hr>

                            <h1 class="fs-5 mb-3">Recipe Ingredients</h1>
                            <ul>
                                {% for ingredient in recipe.ingredient_details.all %}

                                <div class="row">
                                    <div class="col-auto">
                                        <li style="list-style: circle;">{{ ingredient }}
                                        </li>
                                    </div>
                                </div>

                                {% endfor %}
                            </ul>

                            <hr>

                            <h1 class="fs-5 mb-3">Nutritional Information</h1>
                            <div class="row justify-content-start">
                                <div class="col-auto">
                                    {{ recipe.formatted_nutrition|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {% if user.is_authenticated %}
                            {% csrf_token %}
                            <a type="submit" href="{% url 'add_to_planner' recipe.pk %}"
                                class="btn btn-primary addButton">Add to Planner</a>
                            {% else %}
                            <button type="button" class="btn btn-primary disabledAddButton" disabled>Add to
                                Planner</button>
                            {% endif %}
                            <button type="button" class="btn btn-secondary ms-auto"
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}