{% extends "layout.html" %}
{% load static %}

{% block title %}Recipes{% endblock %}

{% block body %}

{# Planner section #}
{% if planner.finished == False %}

<div class="planner container-fluid align-content-center my-3" style="display: grid;">
    <div class="row justify-content-center">
        {% if chosen_list %}

        <!-- If there are items in the chosen_list this will show -->
        {% for item in chosen_list %}
        <div class="col-2 plannerBoxes box{{forloop.counter}} border mx-2 shadow-sm position-relative"
            data-id="{{item.id}}">
            <img class="object-fit-cover plannerRecipePhoto" src="{{ item.recipe_photo.url }}" alt="{{ item.name }}"
                data-id="{{ item.id}}">
            <span
                class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger removeButton"
                data-id="{{ item.id }}"><i class="fa-solid fa-xmark removeX" data-id="{{ item.id }}"></i></span>
            <div class="row justify-content-center">
                <div class="col-auto gridItemText">
                    <span class="plannerRecipeText px-1" data-id="{{ item.id }}">{{ item.name }}</span>
                </div>
            </div>
        </div>

        {% endfor %}

        <!-- These are the boxes for the remainder that is left for the amount of days left in the planner -->
        {% if remainder %}
        {% for i in ""|center:remainder %}
        <div class="col-2 plannerBoxes box{{forloop.counter}} border mx-2 shadow-sm position-relative">
        </div>
        {% endfor %}
        {% endif %}
        {% else %}

        <!-- This html shows for an empty chosen_list -->
        {% for i in ""|center:planner.days %}
        <div class="col-2 plannerBoxes box{{forloop.counter}} border mx-2 shadow-sm position-relative"
            data-id="{% if item %}{{item.id}}{% else %}null{% endif %}">
        </div>
        {% endfor %}

        {% endif %}
    </div>
</div>

<!-- Finalize Button Section -->
{% if planner.chosen_list.count >= planner.days %}
<div class="row justify-content-center">
    <div class="col-6">
        <a href="{% url 'planner_page' %}">
            <div id="csrf" data-csrf="{{ csrf_token }}"></div>
            <button class="btn btn-success bg-gradient text-white w-100 finalizePlannerButton" data-id="{{planner.id}}"
                data-url="{% url 'finalize_planner' planner.id %}"><span>Save Planner</span></button>
        </a>
    </div>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-6">
        <i class="btn btn-success bg-gradient text-white w-100 finalizePlannerButton disabled"
            data-id="{{planner.id}}"><span>Save Planner</span></i>
    </div>
</div>
{% endif %}
<!-- End of Finalize Button Section -->

{% else %}
{% if user.is_authenticated %}
<div class="stockPlanner container-fluid align-content-center my-3" style="display: grid;">
    <div class="stockPlannerImage"></div>
    <div class="row justify-content-center">
        <div class="col-6 stockPlannerBoxes border">


            <!-- <a class="createPlannerLink text-white text-decoration-none fs-3 fw-light" href="{% url 'index' %}">
                <span>Create a planner now!</span>
            </a> -->

            <div class="dropdown-center">
                <button class="btn btn-danger-subtle droptown-toggle text-white dropdownPlannerButton border-0"
                    type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                    aria-haspopup="true" aria-expanded="false">
                    <h3 class="mb-0">Create a Planner</h3>
                </button>
                <div class="dropdown-menu py-4 px-4" aria-labelledby="dropdownMenuButton">
                    <form method="POST" action="{% url 'create_planner' %}">
                        {% csrf_token %}
                        <div class="form-group createPlannerGroup">
                            {% for field in planner_form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                <div class="row justify-content-start">
                                    <div class="col-12">
                                        <label
                                            class="border border-bottom-0 rounded-top fw-light mt-1 px-2 shadow-sm bg-body-secondary bg-gradient">
                                            {{ field.label }}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {{ field }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary bg-gradient rounded-pill px-4">Create
                                    Planner</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
{% else %}
<div class="stockPlanner container-fluid align-content-center my-3" style="display: grid;">
    <div class="stockPlannerImage"></div>
    <div class="row justify-content-center">
        <div class="col-6 stockPlannerBoxes border">
            <a class="createPlannerLink text-white text-decoration-none fs-3 fw-light" href="{% url 'login' %}">
                <span>Login to create a planner!</span>
            </a>
        </div>

    </div>
</div>
{% endif %}
{% endif %}

{# Filter group #}
<div class="container-fluid">
    <div class="row justify-content-center my-3">
        <div class="col-auto">
            <div class="btn-group filter-button-group">
                <button class="filter-item btn btn-sm btn-outline-secondary" data-filter="*">No Preference</button>
                <button class="filter-item btn btn-sm btn-outline-secondary youfavorite" data-filter=".favorited">Your
                    Favorites</button>
                <button class="filter-item btn btn-sm btn-outline-secondary vegetarian"
                    data-filter=".vegetarian">Vegetarian</button>
                <button class="filter-item btn btn-sm btn-outline-secondary vegan" data-filter=".vegan">Vegan</button>
                <button class="filter-item btn btn-sm btn-outline-secondary pescetarian"
                    data-filter=".pescetarian">Pescetarian</button>
                <button class="filter-item btn btn-sm btn-outline-secondary dairyfree"
                    data-filter=".dairyfree">Dairy-Free</button>
                <button class="filter-item btn btn-sm btn-outline-secondary glutenfree"
                    data-filter=".glutenfree">Gluten-Free</button>
            </div>
        </div>
    </div>
</div>

{# Isotope grid layout #}
<div class="container fluid">
    <div class="row justify-content-center">
        <div class="grid">
            {% for recipe in recipes %}
            <button type="button"
                class="grid-item mb-2 {{ recipe.dietary_preference }} {% if recipe.name in favorite_dishes %}favorited{%endif%}"
                data-bs-toggle="modal" data-bs-target="#gridItemModal{{ recipe.id }}" data-id="{{recipe.id}}">
                <img class="object-fit-cover recipePicture" src="{{ recipe.recipe_photo.url }}" alt="{{recipe.name}}"
                    data-id="{{recipe.id}}">
                {% if recipe.name in favorite_dishes %}
                <i class="favoritedRecipeStar bi-star-fill" id="favoritedRecipeStar{{recipe.id}}"></i>
                {% endif %}
                <div class=" row justify-content-center">
                    <div class="col-auto gridItemText">
                        <span class="recipeBoxText px-1">{{ recipe.name }}</span>
                    </div>
                </div>
            </button>

            <div class="modal fade" id="gridItemModal{{ recipe.id }}" data-bs-backdrop="static" data-bs-keyword="false"
                tabindex="-1" aria-labelledby="gridItemLabel{{ recipe.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            {% if request.user.is_authenticated %}
                            <div class="col-auto me-2 mb-1 favStarBox">
                                <div id="csrf" data-csrf="{{ csrf_token }}"></div>
                                {% if recipe.name in favorite_dishes %}
                                <i class="favStar bi-star-fill {{recipe.id}}" data-id="{{ recipe.id }}"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-title='Favorite/Unfavorite this recipe!'></i>
                                {% else %}
                                <i class="favStar bi-star {{recipe.id}}" data-id="{{ recipe.id }}"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-title='Favorite/Unfavorite this recipe!'></i>
                                {% endif %}
                            </div>
                            {% endif %}
                            <div class="col-auto">
                                <h1 class="modal-title fs-5 pb-1" id="gridItemLabel{{ recipe.id }}">
                                    {{ recipe.name }}
                                </h1>
                            </div>
                            <div class="col-auto ms-auto">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="modal-body">

                            <h1 class="fs-5 mb-3 text-decoration-underline">Recipe Ingredients</h1>
                            <ul>
                                {% for ingredient in recipe.ingredient_details.all %}

                                <div class="row">
                                    <div class="col-auto">
                                        <li style="list-style: circle;">{{ ingredient }}
                                        </li>
                                    </div>
                                </div>

                                {% endfor %}
                            </ul>

                            <hr>

                            <h1 class="fs-5 mb-3 text-decoration-underline">Recipe Instructions</h1>
                            {{ recipe.formatted_instructions|safe }}

                            <hr>

                            <h1 class="fs-5 mb-3 text-decoration-underline">Nutritional Information</h1>
                            <div class="row justify-content-start">
                                <div class="col-auto">
                                    {{ recipe.formatted_nutrition|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {% if user.is_authenticated %}
                            {% csrf_token %}
                            <button class="btn btn-primary addButton" data-id="{{recipe.id}}"
                                data-url="{% url 'add_to_planner' recipe.id %}" data-bs-dismiss="modal">Add to
                                Planner</button>
                            {% else %}
                            <button type="button" class="btn btn-primary disabledAddButton" disabled>Add to
                                Planner</button>
                            {% endif %}
                            <button type="button" class="btn btn-secondary ms-auto"
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}