{% extends 'layout.html' %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="container fluid vh-auto">
    <div
        class="position-absolute top-50 start-50 translate-middle border border-2 rounded w-50 shadow bg-light formWrapper">
        <div class="row justify-content-center py-5">
            <div class="col-auto">
                <h1 class="fw-light fs-2 col-6 me-2 ps-2" id="registerPageLabel">Register</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-9">
                <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in user_registration_form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        <div class="row justify-content-start">
                            <div class="col-auto">
                                <label
                                    class="border border-bottom-0 rounded-top px-2 shadow-sm bg-body-secondary bg-gradient">
                                    {{ field.label }}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ field }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row justify-content-center mt-3">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary rounded-pill px-5 bg-gradient">Complete
                                Registration</button>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-auto">
                            <a href="{% url 'login' %}" class="btn btn-link pb-5">Already have an account?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}