.forminputBox {
    border-radius: 0px 6px 6px 6px;
}

.grid {
    max-width: 100%;
}

.grid-item {
    float: left;
    width: 240px;
    height: 120px;
    background-image: url(/images/Food_placeholder.jpg);
    background-size: 240px 180px;
    background-repeat: no-repeat;
    background-position: center;
}

.gridItemText {
    width: 238px;
    height: 116px;
    margin-top: -1px;
    align-self: center;
}

.grid-item:hover,
.gridItemText:hover {
    background-color: rgba(182, 173, 176, 0.7);
    cursor: pointer;
    box-shadow: 3px 2px 2px;
}

.favStarBox {
    -webkit-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}

.favStarBox:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.favStarBox:active {
    scale: .8;
}

.favStar {
    transition: color .7s ease-in-out;
}

.favStar:hover {
    color: gold;
}

.bi-star-fill {
    color: gold;
    -webkit-text-stroke: 1px black;
}

/* Try to possibly blur background image instead on hover */

.stockPlanner {
    height: 125px;
    width: auto;
}

.stockPlannerImage {
    height: 125px;
    width: auto;
    background-image: url(/images/cafe_background.jpg);
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(4xp);
}

.stockPlannerBoxes {

    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.55);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 4px;
    position: absolute;
    top: 134px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;

}

.plannerBoxes {
    background-color: #bebebe;
    max-height: 100px;
    min-height: 100px;
    width: 150px;
    border: 1px solid black;
}

.removeItem {
    height: 18px;
    width: 17px;
}

/* top-left top-right bottom-right bottom-left */
.removeItem:hover {
    width: 28px;
    border-radius: 8px 2px 2px 8px;
    text-align: center;
}

/* TODO: on hover do a width transform to the left and reveal "REMOVE?" */

.bi::before,
[class^="bi-x"]::before,
[class*=" bi-x"]::before {
    vertical-align: 0.875em;
}

.plannerIcons {
    height: 24px;
    font-size: x-large;
}

.plannerButton {
    transform: scale(1);
    transition: all 0.3s;
}

.plannerButton.pulse {
    animation: pulse 1s forwards ease-out;
    box-shadow: 0px 15px 28px -11px rgba(255, 79, 93, 0.9);
}


@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 79, 93, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 79, 93, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 30px rgba(255, 79, 93, 0);
        box-shadow: 0 0 0 8px rgba(255, 79, 93, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 79, 93, 0);
        box-shadow: 0 0 0 0 rgba(255, 79, 93, 0);
    }
}

.editRow,
.listRow,
.likeRow {
    background-color: #ffffff;
}

.editRow {
    border-top-right-radius: 6px;
}

.likeRow {
    border-bottom-right-radius: 6px;
}

.editRow:hover,
.listRow:hover,
.likeRow:hover {
    cursor: pointer;
    background-color: #d9dada;
}

.editRow:active,
.listRow:active,
.likeRow:active {
    transform: translateY(1px);
    background-color: #adafaf;
}

.buttonsCol {
    background-color: #adafaf;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.plannerItemSquares {
    height: 90px;
    width: 90px;
    background-image: url(images/Food_placeholder.jpg);
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.dietaryIcons {
    border-top-left-radius: 4px;
    background-color: white;
    /* opacity: .7; */
}

.dietaryIconsCancel {
    color: red;
    height: 28.57px;
    width: 28.57px;
    opacity: .55;
}

.plannerInfoFonts {
    font-size: small;
}

.shoppingModalContent>.modal-body {
    max-height: 500px;
}

.fa-stack.small {
    font-size: 15px;
}

.fa-layers-counter {
    background: red;
    --fa-counter-padding: 3px;
    --fa-counter-scale: .65;
    --fa-right: -14px !important;
    --fa-top: -11px;
}


.confirmEdit:hover {
    background-color: #22724d !important;
}

.cancelEdit:hover,
.logoutButton:hover {
    background-color: #cd2333 !important;
}

/* Custom CSS for specific icons */

.fa-fish-fins {
    color: #92d6dc;
}

.fa-wheat-awn {
    color: gold;
}

.fa-leaf {
    color: forestgreen;
}

.fa-seedling {
    color: #92f200;
}

.fa-drumstick-bite {
    color: #cb9c1b;
}

.fa-cow {
    color: brown;
    height: 20.57px;
    width: 20.57px;
}

.editLink {
    color: #212529;
}

.fa-user-pen {
    color: #6F2229;
    font-size: 16px;
    cursor: pointer;
}

.fa-user-pen:hover {
    color: #381115;
}