body {
    background-color: #DEE2E6;
}

.forminputBox {
    border-radius: 0px 6px 6px 6px;
}

.dropdownPlannerButton,
.emptyPlannerText,
.nav-link,
.navProfileUsername {
    font-family: 'Josefin Sans', sans-serif;
}

.dropdown-menu.show {
    width: 300px;
    position: absolute;
    left: -58%;
}

/* Index Page Section */

.indexPageHeaderRow {
    position: relative;
    top: -65px;
}

.indexPageHeaderCol {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.55);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
}

.createPlannerText,
.indexRecipeBoxText {
    font-family: 'Josefin Sans', sans-serif;
}

.indexRecipeCol {
    position: relative;
    border-radius: 4px 4px 4px 4px;
}

.indexRecipeItem,
.indexRecipePicture {
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    height: 100%;
    min-height: 320px;
    max-height: 320px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

h1.text-center {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f7c69f;
    padding: 20px;
    color: #ffffff;
    text-shadow: 2px 2px #333;
    background: linear-gradient(0deg, rgba(222, 226, 230, 1) 22%, rgba(222, 63, 78, 1) 84%);
    border-radius: 4px 4px 0 0;
    display: inline-block;
    position: relative;
}

/* End of Index Page CSS */

/* Recipes Page Section */
.grid {
    max-width: 100%;
}

.grid-item {
    float: left;
    width: 239px;
    height: 119px;
    z-index: 1;
    position: relative;
    border-radius: 10px;
}

.recipePicture {
    position: absolute;
    width: 240px;
    height: 120px;
    z-index: -1;
    top: -2px;
    left: -2px;
    border-radius: 9px;
}

.plannerRecipePhoto {
    position: absolute;
    width: 148px;
    height: 98px;
    z-index: 1;
    border-radius: 7px;
    animation: chosen .3s ease-out;
}

@keyframes chosen {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.plannerRecipeText {
    width: 148px;
    font-size: 12px;
    position: absolute;
    display: flex;
    white-space: break-spaces;
    border-radius: 4px;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    color: white;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.removeButton {
    z-index: 10;
    height: 20px;
    width: 20px;
    opacity: 0;
}

.removeX {
    opacity: 0;
}

.removeButton:hover {
    cursor: pointer;
}

.plannerRecipeText,
.removeButton,
.removeX {
    animation: fadeIn .5s forwards ease-in;
    animation-delay: .4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut .5s forwards ease-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.recipeBoxText {
    position: relative;
    display: flex;
    white-space: break-spaces;
    border-radius: 4px;
    top: 0px;
    opacity: 0;
    color: white;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 4px rgba(43, 43, 43, 0.7);
    transition: opacity 0.3s ease-out;
}

.grid-item:hover .recipeBoxText {
    z-index: 10;
    opacity: 1;
}

.grid-item:hover>.backgroundStuff {
    cursor: pointer;
    opacity: .8;
    filter: blur(1px);
}

.favStarBox {
    -webkit-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}

.favStarBox:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.favStarBox:active {
    scale: .8;
}

.favStar {
    transition: color .7s ease-in-out;
}

.favStar:hover {
    color: gold;
}

.bi-star-fill {
    color: gold;
    -webkit-text-stroke: 1px black;
}

.stockPlanner {
    height: 125px;
    width: auto;
}

.stockPlannerImage {
    height: 125px;
    width: auto;
    background-image: url(/images/cafe_background.jpg);
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(4xp);
}

.stockPlannerBoxes {

    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.55);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 4px;
    position: absolute;
    top: 134px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;

}

.plannerBoxes {
    background-color: #bebebe;
    max-height: 100px;
    min-height: 100px;
    width: 150px;
    min-width: 150px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    border-radius: 7px;
}

/* All planners page CSS */

h1.profile-text-center {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f7c69f;
    padding: 20px;
    color: #ffffff;
    text-shadow: 2px 2px #333;
    background: linear-gradient(270deg, rgba(222, 226, 230, 1) 0%, rgba(222, 63, 78, 1) 50%);
    border-radius: 4px 4px 0 0;
    display: inline-block;
    position: relative;
}

.activePlannerUser {
    border-top-left-radius: 0px !important;
}

.plannerIcons {
    height: 24px;
    font-size: x-large;
}

.plannerButton,
.notAuthenticated {
    height: 33.33%;
    transform: scale(1);
    transition: all 0.3s;
}

.activePlannerButton {
    height: 50%;
    transform: scale(1);
    transition: all 0.3s;
}

.unauthenticatedActivePlannerButton {
    background-color: #ffffff;
    height: 50%;
    transform: scale(1);
    transition: all 0.3s;
}

.unauthenticatedActivePlannerButton.editButton {
    border-top-right-radius: 6px;
}

.activePlannerButton.likeButton,
.unauthenticatedActivePlannerButton.likeButton {
    border-bottom-right-radius: 6px;
}

.plannerButton.pulse,
.activePlannerButton.pulse {
    animation: pulse .8s forwards ease-in-out;
    box-shadow: 0 0 0 0 rgba(255, 79, 93, 0.9);
}


@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 79, 93, 0.4);
        box-shadow: 3px -3px 3px 3px rgba(255, 79, 93, 0.4);
    }

    50% {
        -moz-box-shadow: 0 0 0 30px rgba(255, 79, 93, 0);
        box-shadow: 3px -3px 3px 3px 8px rgba(255, 79, 93, 1);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 79, 93, 0);
        box-shadow: 0 0 0 0 rgba(255, 79, 93, 0);
    }
}

.editRow,
.listRow,
.likeRow {
    background-color: #ffffff;
}

.editRow {
    border-top-right-radius: 6px;
}

.likeRow {
    border-bottom-right-radius: 6px;
}

.notAuthenticated {
    background-color: #cccccc;
    cursor: pointer;
}

.notAuthenticated.denied {
    background-color: #D11507;
    animation: denied .5s forwards ease-in-out;
}

@keyframes denied {
    0% {
        background-color: #cccccc;
        transform: translate(.5px, .5px) rotate(0deg);
    }

    10% {
        transform: translate(-.5px, -1px) rotate(-1deg);
    }

    20% {
        transform: translate(-2px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(2px, 1px) rotate(0deg);
    }

    40% {
        transform: translate(.5px, -.5px) rotate(1deg);
    }

    50% {
        background-color: #D11507;
        transform: translate(-.5px, 1px) rotate(-1deg);
    }

    60% {
        transform: translate(-2px, .5px) rotate(0deg);
    }

    70% {
        transform: translate(2px, .5px) rotate(-1deg);
    }

    80% {
        transform: translate(-.5px, -.5px) rotate(1deg);
    }

    90% {
        transform: translate(.5px, 1px) rotate(0deg);
    }

    100% {
        background-color: #cccccc;
        transform: translate(.5px, -1px) rotate(-1deg);
    }

}

.editRow:hover,
.listRow:hover,
.likeRow:hover {
    cursor: pointer;
    background-color: #d9dada;
}

.editRow:active,
.listRow:active,
.likeRow:active,
.notAuthenticated:active {
    transform: translateY(.5px);
    background-color: #adafaf;
}

.buttonsCol {
    background-color: #adafaf;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.plannerItems {
    height: 90px;
    width: 115px;
}

.plannerItemSquares,
.plannerPageRecipePhoto {
    height: 90px;
    width: 90px;
    border-radius: 4px;
    z-index: 1;
}


.dietaryIcons {
    border-top-left-radius: 4px;
    border-bottom-right-radius: 3px;
    background-color: #ffffff;
    z-index: 2;
    top: 61px !important;
    left: 61px !important;
    -webkit-box-shadow: -3px -3px 5px 0px rgba(110, 111, 109, 0.8);
    -moz-box-shadow: -3px -3px 5px 0px rgba(110, 111, 109, 0.8);
    box-shadow: -3px -3px 5px 0px rgba(110, 111, 109, 0.8);
}

.plannerInfoFonts {
    font-size: small;
}

.shoppingModalContent>.modal-body {
    max-height: 500px;
}

.fa-layers-counter {
    background: red;
    --fa-counter-padding: 3px;
    --fa-counter-scale: .65;
    --fa-right: -14px !important;
    --fa-top: -11px;
}

.plannerProfilePicture {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

.unauthenticatedCover {
    filter: blur(1.5px);
}

.activePlannerHeaderRow {
    position: relative;
    top: -115px;
}

.activePlannerHeaderCol {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.65);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 4px;
    position: absolute;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
}

/* End of All Planners CSS */

/* Custom CSS for specific icons */

.fa-fish-fins {
    color: #92d6dc;
    height: 20px;
    width: 20px;
}

.fa-wheat-awn {
    color: #ccac00;
}

.fa-leaf {
    color: forestgreen;
}

.fa-seedling {
    color: #75c200;
}

.fa-drumstick-bite {
    color: #cb9c1b;
}

.fa-cow {
    color: brown;
    height: 20px;
    width: 20px;
}

.editLink {
    color: #212529;
}

.fa-user-pen {
    color: #6F2229;
    font-size: 16px;
    cursor: pointer;
}

.fa-user-pen:hover {
    color: #381115;
}

.fa-xmark {
    height: 10px;
    width: 10px;
    right: 20%;
    bottom: 20%;
    position: absolute;
    translate: inherit;
}

.favoritedRecipeStar {
    position: absolute;
    left: 5px;
    top: 0px;
    z-index: 10;
    scale: 1.2;
}


/* Effects using CSS on classnames */

.hidden {
    display: none;
}

.disabled {
    opacity: .9;
}

/* Profile CSS */

.profileHeader.inProgress {
    animation: inProgress infinite ease-in-out 1.5s;
    scale: 1;
}

@keyframes inProgress {
    0% {
        opacity: .7;
        scale: 1;
    }

    50% {
        opacity: 1;
        scale: 1.1;
    }

    100% {
        opacity: .7;
        scale: 1;
    }
}


.profilePicture {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    vertical-align: middle;
}

.confirmEdit:hover {
    background-color: #22724d !important;
}

.cancelEdit:hover,
.logoutButton:hover {
    background-color: #cd2333 !important;
}