.forminputBox {
    border-radius: 0px 6px 6px 6px;
}

.grid {
    border: 1px solid #333;
    max-width: 1200px;
}

.grid-item {
    float: left;
    /* width: 20%;
    min-width: 150px;
    max-width: 300px;
    height: 20%;
    min-height: 168px;
    max-height: 168px;
    border: solid black 2px; */
}

/* item is invisible, but used for layout */
.grid-item,
.grid-item-content {
    width: 160px;
    height: 120px;
}

/* .grid-item {
    height: 60px;
    border: none;
    background: transparent;
} */

.grid-item-content {
    width: 160px;
    height: 120px;
    background: #0D8;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);
    -webkit-transition: width 0.4s, height 0.4s;
    -moz-transition: width 0.4s, height 0.4s;
    -o-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
}

.grid-item:hover .grid-item-content {
    background: #8CF;
    cursor: pointer;
}

.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
    width: 240px;
    height: 160px;
}

.grid-item.is-expanded {
    z-index: 2;
}